.note {
  height: fit-content;
  object-fit: contain;
}

.card__image {
  height: 50%;
}

.card__image p {
  height: 12rem;
  overflow: hidden;
}

.card__dismiss {
  padding: 3px;
}

.card.note:hover .card__overlay {
  display: flex;
}

.card__actions {
  margin-bottom: auto;
}

.notemenu {
  display: none;
}

.card:hover .notemenu {
  display: flex;
}

.card:hover .date {
  display: none;
}

.pin,
.menu__button {
  border-radius: 50%;
}

.pin:hover,
.menu__button:hover {
  background-color: var(--overlay-color);
  opacity: 0.8;
}
