body {
  overflow: hidden;
}

.content > form.editor {
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  width: 100%;
}

form.editor input {
  flex-grow: 0.8;
  border: none;
  border-bottom: 2px solid var(--accent-color);
}

form.editor > div {
  gap: 1rem;
}

.editor__container {
  height: 100%;
}

.editor__body {
  width: 100%;
  height: 100%;
}

.editor__actions {
  padding-right: 3rem;
}

.quill > .ql-container {
  height: auto;
}

.quill > .ql-container > .ql-editor {
  height: 55vh;
}

.ql-editor > p {
  overflow-y: auto;
}

.quick-actions > a:hover {
  background-color: var(--secondary-bg-color);
  opacity: 0.8;
  border-radius: 4px;
}

.ql-editor strong {
  font-weight: bold;
}

.ql-editor em {
  font-style: italic;
}

.ql-editor sup {
  vertical-align: super;
  font-size: smaller;
}

.ql-editor sub {
  vertical-align: sub;
  font-size: smaller;
}
